<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Leaderboard</title>
</head>
<body>
    <div class="topnav">
        <a  href="/">Home</a>
        <a href="/portfolio">Portfolio</a>
        <a href="/stocks">Stocks</a>
        <a href="/leaderboard">Leaderboard</a>
        <a href="/logout">Logout</a>
    </div>

    <div id="leaderboardTable">

    </div>
    <p id = "feedback"></p>
</body>
<script>
    window.onload = function() {
        createLeaderboardTable();
    };

    function createLeaderboardTable(){
        var tableDiv = document.getElementById("leaderboardTable");
        var table = document.createElement("table");
        table.style.width = "100%";
        table.setAttribute("border", "1");
        var tbdy = document.createElement("tbody");

        var xhr = new XMLHttpRequest();
        var url = "http://localhost:8080/leaderboard/getLeaderboard";
        xhr.open("GET", url, false);
        xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xhr.send();

        var json = JSON.parse(xhr.responseText);
        var leaderboardData = json["leaderboardData"];

        for (let i = 0; i < json["leaderboardData"].length; i++) {
            row = document.createElement("tr");
            cellId = document.createElement("td");
            cellName = document.createElement("td");
            cellPortfolioValue = document.createElement("td");

            textId = document.createTextNode(leaderboardData[i].userId);
            textName = document.createTextNode(leaderboardData[i].username);
            textPortfolioValue = document.createTextNode(leaderboardData[i].portfolioValue);

            cellId.appendChild(textId);
            cellName.appendChild(textName);
            cellPortfolioValue.appendChild(textPortfolioValue);

            row.appendChild(cellId);
            row.appendChild(cellName);
            row.appendChild(cellPortfolioValue);

            table.appendChild(row);
        }
        tableDiv.appendChild(table);
    }
</script>
</html>