<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body onload="createPortfolioTable()">
    <div class="topnav">
        <a  href="/">Home</a>
        <a href="/portfolio">Portfolio</a>
        <a href="/stocks">Stocks</a>
        <a href="/leaderboard">Leaderboard</a>
        <a href="/logout">Logout</a>
    </div>
    <h1>Portfolio</h1>
<h2 id="userIdh1"></h2>
<h2 id="usernameh2"></h2>
<div id="portfolioTableID">

</div>
</body>

<script>
    window.onload = function() {
        createPortfolioTable();
    };

    function createPortfolioTable(){
        var tableDiv = document.getElementById("portfolioTableID");
        var table = document.createElement("table");
        table.style.width = "100%";
        table.setAttribute("border", "1");
        var tbdy = document.createElement("tbody");

        var xhr = new XMLHttpRequest();
        var url = "http://localhost:8080/getPortfolio";
        xhr.open("GET", url, false);
        xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xhr.send();

        var json = JSON.parse(xhr.responseText);
        var assetData = json["assetData"];

        document.getElementById("userIdh1").innerHTML = "User id: " + json["id"];
        document.getElementById("usernameh2").innerHTML = "Username: " + json["username"];

        row0 = document.createElement("tr");
        headerId = document.createElement("th");
        headerName = document.createElement("th");
        headerCurrentPrice = document.createElement("th");
        headerBuyingPrice = document.createElement("th");
        headerQuantity = document.createElement("th");
        headerTotalValue = document.createElement("th");

        headerIdtext = document.createTextNode("Stock ID");
        headerNametext = document.createTextNode("Name");
        headerCurrentPricetext = document.createTextNode("Current Price");
        headerBuyingPricetext = document.createTextNode("Buying Price");
        headerQuantitytext = document.createTextNode("Quantity");
        headerTotalValuetext = document.createTextNode("Total value");

        headerId.appendChild(headerIdtext);
        headerName.appendChild(headerNametext);
        headerCurrentPrice.appendChild(headerCurrentPricetext);
        headerBuyingPrice.appendChild(headerBuyingPricetext);
        headerQuantity.appendChild(headerQuantitytext);
        headerTotalValue.appendChild(headerTotalValuetext);

        row0.appendChild(headerId);
        row0.appendChild(headerName);
        row0.appendChild(headerCurrentPrice);
        row0.appendChild(headerBuyingPrice);
        row0.appendChild(headerQuantitytext);
        row0.appendChild(headerTotalValue);

        table.appendChild(row0);

        for (let i = 0; i < json["assetData"].length; i++) {
            row = document.createElement("tr");
            cellId = document.createElement("td");
            cellName = document.createElement("td");
            cellCurrentPrice = document.createElement("td");
            cellBuyingPrice = document.createElement("td");
            cellQuantity = document.createElement("td");
            cellTotal = document.createElement("td");

            textId = document.createTextNode(assetData[i].id);
            textName = document.createTextNode(assetData[i].name);
            textBuyingPrice = document.createTextNode(assetData[i].buyingPrice);
            textCurrentPrice = document.createTextNode(assetData[i].currentPrice);
            textQuantity = document.createTextNode(assetData[i].quantity);
            //TODO: fix calculation
            textTotal = document.createTextNode((parseFloat(assetData[i].currentPrice) * parseInt(json["assetData"][i].quantity)).toString());

            cellId.appendChild(textId);
            cellName.appendChild(textName);
            cellCurrentPrice.appendChild(textBuyingPrice);
            cellBuyingPrice.appendChild(textCurrentPrice);
            cellTotal.appendChild(textTotal);

            row.appendChild(cellId);
            row.appendChild(cellName);
            row.appendChild(cellCurrentPrice);
            row.appendChild(cellBuyingPrice);
            row.appendChild(cellTotal);

            table.appendChild(row);
        }
        tableDiv.appendChild(table);
    }

</script>

</html>